@import "layout";

$veryLightGray: #f3f3f3;
$lightGray: #b4b1b1;
$hoverColor: #e9fff5;
$cyan: #01a59a;
$pink:rgba(255, 99, 132, 1);
$blue: rgba(54, 162, 235, 1);
$yellow: rgba(255, 206, 86, 1);
$lightBlue: rgba(75, 192, 192, 1);
$violet: rgba(153, 102, 255, 1);
$orange: rgba(255, 159, 64, 1);
$red:rgba(206, 12, 12, 0.904);
$green: #18af69;

.row {
    margin: 0 !important;
}

ul.navbar li a:hover {
    background-color: $blue;
    border-radius: 2px;
}

.rightMer {
    margin-left: 0;
}

.form-container {
    width: 30%;
    margin: 0 auto;

    p.radioButton {
        display: inline-block;

        label {
            padding: 0px 20px;
        }
    }

    #categoryIcon {
        position: relative;
        top: 15px;
        right: 30px;
    }
}

i {
    font-size: 40px;
    cursor: pointer;
    padding: 5px 10px;
}

.deleteRecord {
    font-size: 25px;
    color: $red;
}

.deleteCategory {
    font-size: 30px;
    color: $red;
    position: absolute;
    left: 65%;
    line-height: 40px;
}

.categoryIconContainer {
    display: inline-block;
}

.category {
    &-container {
        width: 30%;
        margin: 50px auto;
        border: 1px solid gray;
        box-shadow: 0 0 1px 0px black;
        cursor: pointer;

        .row {
            border-bottom: 1px solid $lightGray;

            &:hover {
                background-color: $hoverColor;
            }
        }
    }

    &-title {
        line-height: 45px;
        font-size: 26px;
    }

    &-row {
        &:hover {
            background-color: $hoverColor;
        }
    }
}

.records {
    &-list {
        margin-top: 30px;

        .date-card {
            border: 1px solid $lightGray;
            margin-bottom: 30px;

            &-date-total-info {
                line-height: 30px;
                border: 1px solid $lightGray;
            }

            &-date {
                margin-left: 10px;
            }

            &-total {
                margin-right: 10px;

                span {
                    padding: 7px;
                }
            }

            &-title {
                line-height: 50px;
                font-size: 20px;
            }

            &-row {
                border: 1px solid $lightGray;
                cursor: pointer;

                &:hover {
                    background-color: $hoverColor;
                }

                .money {
                    padding-right: 7px
                }
            }
        }
    }

    &-totals {
        text-align: center;

        span {
            padding: 20px;
        }

        span:nth-child(2) {
            border-right: 2px solid $blue;
            border-left: 2px solid $blue;
        }
    }
}

.dashboard {
    width: 80%;
    margin: 0 auto;

    ul.tabs {
        margin-top: 30px;
    }

    .datepickers-container {
        padding: 0;

        .month-picker {
            border: 1px solid gray;
            display: flex;
            flex-wrap: wrap;

            .month-select {
                background: white;
                display: inline-block;
                padding: 10px 5px;
                cursor: pointer;

                &:hover {
                    background: $blue;
                    color: white;
                }
            }

            & .selectedMonth {
                background: $blue;
                color: white;
            }
        }

        .year-picker {
            border: 1px solid gray;

            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .year-select {
                background: white;
                display: inline-block;
                padding: 10px 20px;
                cursor: pointer;

                &:hover {
                    background: $blue;
                    color: white;
                }


            }

            &.row:after {
                content: unset !important;
            }

            & .selectedYear {
                background: $blue;
                color: white;
            }

        }
    }
}

.users {
    &-container {
        width: 30%;
        margin: 50px auto;

        .row {
            border: 1px solid $lightGray;
            box-shadow: 0 0 1px 0px black;
            cursor: pointer;

            &:hover {
                background-color: $hoverColor;
            }

            i {
                font-size: 25px;

                &.fas.fa-user-check {
                    color: $green;
                }

                &.fas.fa-user-alt-slash {
                    color: $red;
                }
            }

            .user-title {
                line-height: 35px;
                font-weight: bold;
            }
        }
    }
}

.blockedDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #990729;

    span {
        padding: 30px 20px;
        background-color: white;
        border-radius: 10px;
    }
}

#dasboard-loggedOut {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    font-size: 25px;
    color: white;

    background-image: url(../img/homePage.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    #textSpan {
        font-size: 19px;
        padding: 20px;

        span {
            cursor: pointer;
            margin-left: 10px;
            padding: 10px;

            &:hover {
                background-color: $blue;
                border-radius: 5px;
            }
        }

    }

    input {
        margin-top: 30px;
        border-radius: 5px;
        padding: 10px 24px;
        background-color: $blue;
        color: white;
        font-weight: 600;
        font-size: 20px;
        cursor: pointer;
        outline: none;

        &:hover {
            background-color: rgb(39, 96, 202);
        }
    }
}

@media screen and (max-width: 992px) {
    .form-container, .category-container, .users-container {
        width: 80%;
    }

    .brand-logo {
        left: 10% !important;
    }

    .rightMer {
        margin-left: 10%;
    }
}