@import "layout";

.rightMer {
    margin-left:55px;
}

.col {
    border: 1px solid red;
}

.form-container {
    width:30%;
    margin: 0 auto;
}

p.radioButton {
    display: inline-block;
}

.far {
    font-size: 50px;
    cursor: pointer;
}

.defaultColor {
    color: #545454;
}

.selectedColor {
    color: #3085d6;
}